* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::selection {
    background: var(--accent);
}


[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    opacity: .56;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: var(--serif);
    font-weight: 400;
}

body {
    --accent: #ffe4c4;
    --primary: rgba(0, 0, 0, 1);
    --primary-86: rgba(0, 0, 0, .86);
    --primary-34: rgba(0, 0, 0, .34);
    --primary-8: rgba(0, 0, 0, .08);
    --primary-0: rgba(0, 0, 0, 0);
    --primary-bg: rgba(255, 255, 255, 1);
    --primary-bg-86: rgba(255, 255, 255, .86);
    --primary-bg-56: rgba(255, 255, 255, .56);
    --primary-bg-34: rgba(255, 255, 255, .34);
    --primary-0: rgba(255, 255, 255, 0);
    --primary-link: #2149f3;
    --sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --serif: 'PT Serif', serif;
    cursor: default;
    transition: background .15s cubic-bezier(0.2,0,0.4,1);
    background-color: rgba(255,255,255,1);
}

body.ue-dark-mode {
    --accent: #ffe4c4;
    --primary: rgba(255, 255, 255, 1);
    --primary-86: rgba(255, 255, 255, .80);
    --primary-34: rgba(255, 255, 255, .34);
    --primary-8: rgba(255, 255, 255, .08);
    --primary-0: rgba(255, 255, 255, 0);
    --primary-bg: rgba(0, 0, 0, 1);
    --primary-bg-86: rgba(0, 0, 0, .86);
    --primary-bg-56: rgba(0, 0, 0, .56);
    --primary-bg-34: rgba(0, 0, 0, .34);
    --primary-bg-0: rgba(0, 0, 0, 0);
    --primary-link: #aebdff;
    background-color: rgba(0, 0, 0, .8);
}

body.ue-dark-mode .ue-ic,
body.ue-dark-mode .ue-segment h2:before,
body.ue-dark-mode .ue-dropaction span:after,
body.ue-dark-mode .ue-xs-menu ul li:before {
    background-position-y: -24px;
}

.ue-ic {
    width: 24px;
    height: 24px;
    background-image: url("../assets/uxem-sprite.svg");
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    transition: opacity .05s ease-out;
}

.ue-ic:hover {
    opacity: .86;
}

.ue-ic-hidden {
    opacity: 0;
    visibility: hidden;
}

.ue-ic-mode {
    background-position: 0 0;
}

.ue-ic-projects {
    background-position: -24px 0;
}

.ue-ic-save {
    background-position: -48px 0;
}

.ue-ic-credits {
    background-position: -72px 0;
}

.ue-ic-dribbble {
    background-position: -96px 0;
}

.ue-ic-medium {
    background-position: -120px 0;
}

.ue-ic-lock {
    background-position: -144px 0;
}

.ue-ic-unlock {
    background-position: -168px 0;
}

.ue-ic-highlight {
    background-position: -192px 0;
}

.ue-ic-bold {
    background-position: -216px 0;
}

.ue-ic-italic {
    background-position: -240px 0;
}

.ue-ic-trash {
    background-position: -264px 0;
}

.ue-ic-add {
    background-position: -336px 0;
}

.ue-ic-twitter {
    background-position: -360px 0;
}

.ue-ic-clear {
    background-position: -384px 0;
}

.ue-btn {
    font-family: var(--sans-serif);
    background: var(--primary-86);
    display: inline-block;
    vertical-align: middle;
    color: var(--primary-bg);
    padding: 12px 24px;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    transition: .05s ease-out;
}

.ue-btn:hover {
    opacity: .98;
}

.ue-grd {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2000px;
}

.ue-logo span {
    display: inline-block;
    font-size: 28px;
    color: var(--primary-86);
}

.ue-logo span strong {
    font-weight: 700;
}

.ue-side {
    width: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.ue-grd-side {
    display: grid;
    height: 100%;
    grid-template-rows: 64px 1fr 1fr;
    padding: 24px 0 24px 24px;
}

.ue-actions-top {
    display: grid;
    grid-template-rows: repeat(auto-fill, 32px);
    grid-row-gap: 16px;
    padding-left: 8px;
}

.ue-actions-btm {
    display: grid;
    align-content: end;
    grid-template-rows: repeat(2, 32px);
    grid-row-gap: 16px;
    padding-left: 8px;
}

.ue-dropaction {
    display: none;
}

.ue-grd-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 180px;
    overflow: auto;
    padding: 24px;
}

.ue-workspace {
    display: none;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    align-content: start;
}

.ue-title {
    font-weight: 400;
    font-size: 34px;
    color: var(--primary-86);
    cursor: text;
    margin: 0;
    padding: 0 0 16px 0;
    hyphens: auto;
}

.ue-title span {
    display: block;
}

.ue-grd-paper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(360px, auto) minmax(360px, auto);
    grid-row-gap: 34px;
    padding-bottom: 24px;
}

.ue-segment {
    display: grid;
    grid-template-rows: 56px 1fr;
}

.ue-segment h2 {
    font-size: 34px;
    color: var(--primary-86);
    font-weight: 700;
    position: relative;
    margin: 0;
    padding-left: 28px;
    pointer-events: none;
}

.ue-segment h2:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../assets/uxem-sprite.svg");
    background-repeat: no-repeat;
    background-position: -144px 0;
    top: 10px;
    left: 0px;
    transition: opacity .05s ease-out;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    pointer-events: all;
}

.ue-segment h2.ue-locked:before {
    background-position: -168px 0;
    opacity: .86;
    visibility: visible;
}

.ue-segment:hover h2:before,
.ue-segment:hover h2.ue-locked:hover:before {
    opacity: 1;
    visibility: visible;
}

h2.ue-locked+.ue-notes {
    cursor: not-allowed;
}

.ue-notes {
    font-size: 20px;
    cursor: text;
    margin: 0;
    color: var(--primary-86);
}

.ue-notes ul {
    margin: 0;
}

.ue-notes li {
    margin: 0 0 12px 0;
    word-wrap: break-word;
    hyphens: auto;
}

.ue-notes li:last-child {
    margin-bottom: 0;
}

.ue-projects {
    display: none;
}

.ue-projects-bar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 8px; 
}

.ue-projects-bar h2 {
    font-size: 34px;
    margin: 0;
    font-weight: 700;
    color: var(--primary-86);
}

.ue-projects-bar .ue-ic {
    vertical-align: middle;
    margin: -2px 4px 0 0;
}

.ue-projects-bar .ue-btn {
    justify-self: end;
    align-self: center;
}

.ue-projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ue-projects ul li {
    display: grid;
    grid-template-columns: 24px auto;
    grid-gap: 8px;
    align-content: center;
    padding: 8px 0 8px 16px;
    margin: 8px 0;
}

.ue-projects ul li span.ue-ic {
    align-self: center;
    margin-top: -2px;
    visibility: hidden;
    opacity: .86;
}

.ue-projects ul li:hover span.ue-ic {
    visibility: visible;
    opacity: 1;
}

.ue-project-name {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-86);
    justify-self: start;
    border-bottom: dotted 2px transparent;
    text-transform: capitalize;
}

.ue-project-name:hover {
    border-bottom-color: var(--primary-86);
}

.ue-credits {
    display: none;
}

.ue-credits-pts {
    width: 1000px;
    max-width: 100%;
}

.ue-credits h2 {
    font-size: 34px;
    margin: 0 0 8px 0;
    font-weight: 700;
    color: var(--primary-86);
}

.ue-credits h3 {
    font-size: 28px;
    margin: 34px 0 12px 0;
    font-weight: 700;
    color: var(--primary-86);
}

.ue-credits p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 16px 0;
    font-weight: 400;
    color: var(--primary-86);
}

.ue-credits a {
    color: var(--primary-link);
}

.ue-authors {
    width: 300px;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 34px;
}

.ue-authors p {
    margin-bottom: 8px;
}

.ue-authors .ue-ic {
    margin-right: 8px;
}



/* Bottom Sheet */

.ue-xs-overlay {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: var(--primary-bg-86);
    z-index: 1000;
}

.ue-xs-menu {
    background: var(--primary);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    border-radius: 24px 24px 0 0;
    transform: translateY(320px);
}

@keyframes slide-in {
    from {
        transform: translateY(320px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    from {
        background-color: var(--primary-bg-0);
    }

    to {
        background-color: var(--primary-bg-86);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(320px);
    }
}

@keyframes fade-out {
    from {
        background-color: var(--primary-bg-86);
    }

    to {
        background-color: var(--primary-bg-0);
    }
}

.ue-xs-menu label {
    display: block;
    text-align: center;
    font-family: var(--sans-serif);
    color: var(--primary-bg-56);
    margin-top: 8px;
    font-size: 16px;
}

.ue-xs-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    color: var(--primary-bg);
    font-size: 18px;
}

.ue-xs-menu ul li {
    display: block;
    margin: 12px 0;
    padding: 12px 0;
    cursor: pointer;
}

.ue-xs-menu ul li:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../assets/uxem-sprite.svg");
    background-position: -312px 0;
    margin-right: 8px;
    visibility: hidden;
}

.ue-xs-menu ul li.ue-st-visible {
    color: var(--primary-bg-86);
}

.ue-xs-menu ul li.ue-st-visible:before {
    visibility: visible;
}

.ue-vw-active {
    display: grid;
}

.ue-credits.ue-vw-active {
    display: block;
}

.ue-toolbar{
    left: 45px;
    top: 45px;
    position: fixed;
    padding: 8px;
    border-radius: 5px 5px 5px 0;
    background: var(--primary);
    display: none;
    font-size: 0;
}

.ue-toolbar-visible{
    display: block;
}

.ue-toolbar .ue-style .ue-ic-bold{
    margin: 0 8px;
}

.ue-toolbar:before{
    position: absolute;
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--primary);
    left: 0;
    bottom: -8px;
}

.ue-colors .ue-ic{
    border-radius:50%;
    margin: 0 3px;
}

.ue-colors .ue-ic:first-child{
    margin-left: 0;
}

.ue-colors .ue-ic:last-child{
    margin-right: 0;
}

.ue-colors .ue-ic:nth-child(1){
    background: #9AE3FF;
}

.ue-colors .ue-ic:nth-child(2){
    background: #FCD492;
}

.ue-colors .ue-ic:nth-child(3){
    background: #B8E986;
}

.ue-colors .ue-ic:nth-child(4){
    background: #FFA3D8;
}

.ue-empty-state {
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 48px;
}

.ue-empty-state img {
    width: 480px;
    height: 372px;
    max-width: 100%;
    object-fit: contain;
    content:url("../assets/illustration-dark.png");
}

body.ue-dark-mode .ue-empty-state img{
    content:url("../assets/illustration-bright.png");
}

.ue-empty-state p {
    font-size: 24px;
    color: var(--primary-86);
}

.ue-promo{
    margin: 16px 0;
}

.ue-promo a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 12px 0;
}

noscript{
    font-family: var(--sans-serif);
}

a.ue-share-tw{
    color: var(--primary-86);
    font-size: 18px;
    display: inline-block;
    font-family: var(--sans-serif);
    text-decoration: none;
    vertical-align: middle;
}

a.ue-share-tw:hover{
    text-decoration: underline;
}

a.ue-share-tw .ue-ic{
    vertical-align: middle;
    margin-right: 4px; 
}

@media screen and (min-width: 2000px) {
    .ue-grd {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1400px) {
    .ue-side {
        width: 120px;
    }

    .ue-grd-main {
        left: 120px;
    }

    .ue-title {
        font-size: 28px;
    }

    .ue-grd-paper {
        grid-template-rows: minmax(250px, auto) minmax(250px, auto);
    }
}

@media screen and (max-width: 768px) {
    .ue-side {
        background: var(--primary-bg);
        position: fixed;
        top: unset;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        z-index: 500;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 24px 0 rgba(0, 0, 0, 0.04);
    }

    .ue-grd-side {
        width: 480px;
        margin: 0 auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: auto 120px auto;
        grid-template-rows: auto;
        background: var(--primary-bg-34);
        padding: 0 16px;
    }

    .ue-grd-main {
        position: unset;
        left: 0;
        padding: 16px 16px 56px 16px;
    }

    .ue-grd-paper {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .ue-title {
        padding-bottom: 0;
        font-size: 24px;
    }

    .ue-segment {
        display: none;
    }

    .ue-segment-visible {
        display: grid;
    }

    .ue-notes {
        padding: 0;
    }

    .ue-segment h2 {
        padding-left: 19px;
    }

    .ue-segment h2:before,
    .ue-segment h2:hover:before,
    .ue-segment h2.ue-locked:hover:before {
        left: -8px;
        opacity: .86;
    }

    .ue-logo {
        display: none;
    }

    .ue-projects ul li {
        padding: 16px 0;
        margin: 4px 0;
    }

    .ue-projects ul li span.ue-ic {
        visibility: visible;
        opacity: 1;
    }

    .ue-projects ul li:hover span.ue-ic {
        opacity: unset;
        visibility: unset;
    }

    .ue-projects ul li span.ue-ic {
        align-self: start;
        margin: 2px 0 0 0;
    }

    .ue-actions-top,
    .ue-actions-btm {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        justify-content: space-between;
        align-content: center;
        grid-row-gap: 0;
        grid-column-gap: 16px;
        padding: 0;
    }

    .ue-actions-btm {
        grid-column-gap: 16px;
    }

    .ue-dropaction {
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: var(--sans-serif);
        font-weight: bold;
    }

    .ue-dropaction span {
        color: var(--primary-86);
        display: inline-block;
        vertical-align: middle;
        padding: 12px 12px 8px 24px;
        text-transform: capitalize;
    }

    .ue-dropaction span:after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../assets/uxem-sprite.svg");
        vertical-align: middle;
        background-position: -288px 0;
    }

    .ue-ic:hover {
        opacity: 1;
    }

    .ue-xs-overlay-show {
        animation: fade-in .1s forwards cubic-bezier(0.2, 0, .4, 1);
        display: block;
    }

    .ue-xs-overlay-show .ue-xs-menu {
        animation: slide-in .35s forwards cubic-bezier(0.2, 0, .4, 1);
    }

    .ue-xs-overlay-hide {
        animation: fade-out .1s .25s forwards cubic-bezier(0.2, 0, .4, 1);
    }

    .ue-xs-overlay-hide .ue-xs-menu {
        animation: slide-out .35s forwards cubic-bezier(0.2, 0, .4, 1);
    }
    .ue-empty-state{
        width: 100%;
        margin-top: 0;
    }
    .ue-empty-state img {
        height: 248px;
    }
}

@media screen and (max-width: 319px) {

    body,
    .ue-side {
        width: 320px;
    }
}